@import "sass/breakpoints";
@import "~sass-mq";

.mainNav {
  @include mq($from: zero, $until: tablet) {
    display: flex;
  }

  &__left {
    white-space: nowrap;

    &__brand {
      font-weight: bold;
      font-size: 18px;
      white-space: nowrap;

      @include mq($from: zero, $until: tablet) {
        margin-right: 0;
      }

      > span {
        padding-right: 8px;
      }
    }

    &__navLinks {
      display: inline-block;
    }
  }

  &__themeSwitcher {
    padding-top: 8px;

    @include mq($from: zero, $until: tablet) {
      padding-top: 28px;
      color: transparent !important;
    }
  }
}
