@import "sass/breakpoints";
@import "~sass-mq";

.mainNav {
  &__brand {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;

    > span {
      padding-right: 8px;
    }
  }

  &__navLinks {
    display: inline-block;

    @include mq($from: zero, $until: tablet) {
      display: none;
    }
  }

  &__navMenu {
    @include mq($from: tablet) {
      display: none;
    }
  }

  &__themeSwitcher {
    padding-top: 8px;

    @include mq($from: zero, $until: tablet) {
      color: transparent !important;
    }
  }
}
