@import "sass/breakpoints";
@import "~sass-mq";

.mainNav {
  @include mq($from: zero, $until: tablet) {
    // display: flex;
  }

  &__left {
    white-space: nowrap;

    &__brand {
      font-weight: bold;
      font-size: 18px;
      white-space: nowrap;
      margin-right: 0 !important;

      &__container {
        display: flex;
        align-items: center;

        &__text {
          margin-left: 8px;

          @include mq($from: zero, $until: tablet) {
            display: none;
            margin-left: 0;
          }
        }
      }
    }

    &__navLinks {
      display: inline-block;
    }
  }

  &__themeSwitcher {
    padding-top: 8px;

    @include mq($from: zero, $until: tablet) {
      padding-top: 28px;
      max-width: 55px;
      color: transparent !important;
    }
  }
}
