@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";

.blogPost {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 48px;

  &__image {
    overflow: hidden;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title,
  &__body {
    padding: $card-padding;
  }

  &__title {
    h1 {
      font-size: 40px;
    }

    &__meta {
      &__tag {
        margin-right: 16px;
      }
    }
  }

  &__body {
    &__separator {
      margin-top: 48px;
      margin-bottom: 48px;
    }

    &__metatag {
      margin-right: 16px;
    }
  }
}
