@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";

.blog {
  display: flex;
  flex-wrap: wrap;

  &__post {
    $post-card-margin: 16px;
    margin: $post-card-margin;
    max-width: calc(50% - #{$post-card-margin * 2});

    @include mq($from: zero, $until: tablet) {
      max-width: 100%;
    }
  }
}
