@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";

.blog {
  @include code-background();
  position: relative;
  height: 100%;

  $post-card-margin: 8px;

  &__content {
    @include gutter-padding();
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    padding-top: 16px;
    padding-bottom: 16px;

    &__spinner {
      margin-left: auto;
      margin-right: auto;
    }

    &__post {
      margin: $post-card-margin;
      max-width: calc(50% - #{$post-card-margin * 2});

      @include mq($from: zero, $until: tablet) {
        max-width: 100%;
      }
    }
  }
}
