@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";

.blog {
  @include code-background();
  position: relative;
  height: 100%;

  $post-card-margin: 16px;

  &__content {
    @include gutter-padding();
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 16px;
    padding-bottom: 16px;

    &__spinner {
      margin-left: auto;
      margin-right: auto;
    }

    &__posts {
      padding-bottom: 48px;
      display: flex;
      flex-wrap: wrap;

      &__post {
        margin: $post-card-margin;
        max-width: calc(50% - #{$post-card-margin * 2});

        @include mq($from: zero, $until: tablet) {
          max-width: 100%;
        }
      }
    }
  }
}
