@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "sass/functions";

body {
  padding-top: $pt-navbar-height;
  height: vh(100);
  margin: 0;

  div#__next {
    height: 100%;
  }
}
