@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "sass/functions";

body {
  padding-top: $pt-navbar-height;
  background-color: $pt-dark-app-background-color;
  height: ;
}
