@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";
@import "~@blueprintjs/core/lib/scss/variables";

.aboutPage {
  @include gutter-padding();
  @include code-background();
  height: 100%;
  position: relative;

  &__content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 128px;

    @include mq($from: zero, $until: tablet) {
      padding: 16px;
    }

    &__bio {
      padding-bottom: 128px;
    }
  }
}
