@import "sass/variables";
@import "sass/mixins";
@import "sass/breakpoints";
@import "~sass-mq";

.contactPage {
  @include code-background();
  position: relative;
  height: 100%;

  &__content {
    @include gutter-padding();
    position: relative;
    padding-top: 32px;
    height: 100%;
    overflow-y: auto;

    &__card {
      margin-bottom: 32px;

      &__header {
        h1,
        h4 {
          text-align: center;
        }
      }

      &__aroundTheWeb {
        @include mq($from: zero, $until: tablet) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
