.indexPage {
  padding: 16px;

  &__content {
    $content-width: 1200px;
    padding-left: calc((100vw - #{$content-width}) / 2);
    padding-right: calc((100vw - #{$content-width}) / 2);

    &__bioCard {
      margin: 48px auto;
    }
  }
}
