@import "sass/mixins";
@import "sass/functions";
@import "sass/breakpoints";
@import "~sass-mq";

.indexPage {
  text-align: center;

  h1 {
    font-size: 5em;
  }

  h1,
  h2 {
    color: white;
  }

  @include mq($from: zero, $until: tablet) {
    padding-top: 16px;
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.25em;
    }
  }

  &__socialLinks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include mq($from: tablet) {
      margin-top: 48px;
    }

    &__link {
      margin-bottom: 16px;
    }
  }
}
