@import "~@blueprintjs/core/lib/scss/variables";
@import "sass/functions";

.mainLayout {
  height: vh(100);
  padding-top: $pt-navbar-height;

  &.dark {
    background-color: $pt-dark-app-background-color;
  }
}
