@import "~@blueprintjs/core/lib/scss/variables";
@import "sass/functions";
@import "sass/mixins";

.mainLayout {
  position: relative;
  height: vh(100);
  padding-top: $pt-navbar-height;

  &__content {
    background-image: url("/code_blurred.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow-y: auto;
  }
}
